<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_ISoapService" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost/Spira/Services/v5_0/SoapService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoapService"
    contract="SpiraSoapService.ISoapService" name="BasicHttpBinding_ISoapService" />
  </client>
 </system.serviceModel>
</configuration>
